* { box-sizing: border-box; }

.visually-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(100%);
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
}



.reveal {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;

  .slides {
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
    display: grid;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 100%;

    > section {
      position: relative;
      grid-column: 1/2;
      grid-row: 1/2;
    }
  }

  .controls {
    position: relative;
    right: auto;
    bottom: auto;
    grid-column: 1/2;
    grid-row: 1/2;
    display: grid !important;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      ". up ."
      "left . right"
      ". down .";
    justify-items: center;
    align-items: center;

    .navigate {
      &-up,
      &-right,
      &-down,
      &-left {
        position: relative;
        top: auto !important;
        right: auto !important;
        bottom: auto !important;
        left: auto !important;
        transform: none;
        padding-inline: 0;
        padding-block: 0;
      }

      &-left { grid-area: left; }
      &-right { grid-area: right; }
      &-up { grid-area: up; }
      &-down { grid-area: down; }
    }
  }
}



footer {
  z-index: 1;
  grid-row: 2/3;
  width: 100%;
  padding-inline: 2vw;

  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding-inline-start: 0;
  }

  a {
    display: inline-block;
  }
}
