---
css_file: basement
slides_time: 45
title: Writing Expressive and Effective Alt Text
eleventyNavigation:
  key: Writing Expressive and Effective Alt Text
role: Director of Web Development and Strategy
permalink: "/2025-01-16-wowpm/"
---

{%- include "./markdown/00-intro.md" -%}
{%- include "./markdown/01-why.md" -%}
{%- include "./markdown/02-context.md" -%}
{%- include "./markdown/03-caption.md" -%}
{%- include "./markdown/04-infographic.md" -%}
