<!doctype html>
<html>

{%- include "partials/head.njk" -%}

<body>

<div class="reveal">
  <div class="slides">

    {%- include "partials/intro.njk" -%}

    {%- block slides -%}
    {%- endblock slides -%}

    {%- include "partials/thanks.njk" -%}

  </div>

  {%- include "partials/footer.njk" -%}
</div>

{%- include "partials/reveal.njk" -%}

</body>
</html>
