---
css_file: presentation
---

<!doctype html>
<html>
<head>
  {%- include "global/head.njk" -%}
</head>
<body>

<div class="reveal">
  <div class="slides">

    <section>
      <header class="title">
        {%- if title -%}<h1>{{ title }}</h1>{%- endif -%}
        {%- if subtitle -%}<p>{{ subtitle }}</p>{%- endif -%}
      </header>

      <div class="presenter sidebar">
        <img class="presenter-profile profile sidebar-aside" src="{{"/dist/images/profile.jpg" | url}}" alt="">

        <div class="presenter-text sidebar-main">
          <p class="presenter-name">{{site.name}}</p>
          <p class="presenter-site"><a href="{{site.url | url}}">{{site.url}}</a></p>
          {%- if site.role -%}
            <p class="presenter-role">{{ site.role }}
              {%- if site.organization -%}<br>{{ site.organization }}{%- endif -%}
            </p>
          {%- endif -%}
        </div>
    </section>

    {%- block slides -%}
      {{ content | safe }}
    {%- endblock slides -%}

  </div>

</div>

{%- include "partials/reveal.njk" -%}

</body>
</html>
