<!doctype html>
<html>
<head>
  {%- include "global/head.njk" -%}
</head>
<body>

<div class="reveal">
  <div class="slides">

    <section class="presentation-bookend">
      <header class="title">
        {%- if title -%}<h1>{{ title }}</h1>{%- endif -%}
        {%- if subtitle -%}<p>{{ subtitle }}</p>{%- endif -%}
      </header>

      {%- include "partials/presenter.njk" -%}
    </section>

    {%- block slides -%}
      {{ content | safe }}
    {%- endblock slides -%}

    <section class="presentation-bookend">
      <h2 class="r-fit-text">Thank you!</h2>

      {%- include "partials/presenter.njk" -%}
    </section>

  </div>

</div>

{%- include "partials/reveal.njk" -%}

</body>
</html>
