---
layout: layouts/base.njk
title: KSS on My List
subtitle: building a living style guide & pattern library with KSS-Node
css_path: kss-list
position: Senior Web Front-end Developer
university: Georgetown University, Washington DC
hashtag:
  talk: KSSList
  conference: WPCampus
session_time: 35
---

{%- include "./markdown/00-intro.md" -%}
{%- include "./markdown/01-directory.md" -%}
{%- include "./markdown/02-package.md" -%}
{%- include "./markdown/03-template.md" -%}
{%- include "./markdown/04-kss-config.md" -%}
{%- include "./markdown/05-directories.md" -%}
{%- include "./markdown/06-styles.md" -%}
{%- include "./markdown/07-namespace.md" -%}
{%- include "./markdown/08-first-pattern.md" -%}
{%- include "./markdown/09-colors.md" -%}
{%- include "./markdown/10-text.md" -%}
{%- include "./markdown/11-text-heading.md" -%}
{%- include "./markdown/12-text-paragraph.md" -%}
{%- include "./markdown/13-link.md" -%}
{%- include "./markdown/14-card.md" -%}
{%- include "./markdown/15-link-cta.md" -%}
{%- include "./markdown/16-card-grid.md" -%}
