---
layout: layouts/base.njk
title: KSS on My List
subtitle: building a living style guide & pattern library with KSS-Node
css_path: kss-list
position: Senior Web Front-end Developer
university: Georgetown University, Washington DC
hashtag:
  talk: KSSList
  conference: WPCampus
session_time: 35
---
