---
title: Colors
---

<h2>Colors</h2>

<ul class="guide-color-list" role="list">
  {% for color in colors %}
    <li class="guide-color-item">
      <figure class="guide-color-swatch bg-{{ color.name }}">
        <figcaption class="guide-color-name">
          <strong>{{ color.name }}</strong>
        </figcaption>
      </figure>
    </li>
  {% endfor %}
</ul>

<h2>On Colors</h2>

<ul class="guide-color-list" role="list">
  {% for color in colors %}
    <li class="guide-color-item">
      <figure class="guide-color-swatch bg-on-{{ color.name }}">
        <figcaption class="guide-color-name">
          <strong>on-{{ color.name }}</strong>
        </figcaption>
      </figure>
    </li>
  {% endfor %}
</ul>
