<footer>
  <ul aria-label="Social media links">
    <li><a href="https://twitter.com/ReedCodes">@ReedCodes</a></li>
    <li><a href="https://twitter.com/hashtag/{{ hashtag.talk | lower }}">#{{  hashtag.talk }}</a></li>
    <li><a href="https://twitter.com/hashtag/{{ hashtag.conference | lower }}">#{{ hashtag.conference }}</a></li>
  </ul>
</footer>
