<section>
  <div class="intro bio columns">
    <img src="{{ site.assets.logo }}" />
    <dl class="bio-info">
      <dt class="name"><span class="fas fa-fw fa-user-circle" aria-label="Name"></span></dt>
      <dd class="name">Reed Piernock, they/them</dd>

      {%- if scholar -%}
        <dt class="student"><span class="fas fa-fw fa-graduation-cap" aria-label="Degree"></span></dt>
        <dd class="student">{{ scholar }}</dd>
      {%- endif -%}

      {%- if position -%}
        <dt class="position"><span class="fas fa-fw fa-file-code" aria-label="Position"></span></dt>
        <dd class="position">{{ position }}</dd>
      {%- endif -%}

      {%- if university -%}
        <dt class="university"><span class="fas fa-fw fa-university" aria-label="University"></span></dt>
        <dd class="university">{{ university }}</dd>
      {%- endif -%}
    </dl>
  </div>
</section>
