<section>
  <div class="intro bio columns">
    <img src="/dist/images/reedcodes.jpg" />
    <dl class="role-@@role">
      <dt class="name"><span class="fas fa-fw fa-user-circle" aria-label="Name"></span></dt>
      <dd class="name">Reed Piernock, they/them</dd>
      <dt class="student"><span class="fas fa-fw fa-graduation-cap" aria-label="Degree"></span></dt>
      <dd class="student">@@degree</dd>
      <dt class="position"><span class="fas fa-fw fa-file-code" aria-label="Position"></span></dt>
      <dd class="position">@@position</dd>
      <dt class="university"><span class="fas fa-fw fa-university" aria-label="University"></span></dt>
      <dd class="university">@@university</dd>
    </dl>
  </div>
</section>
