<script src="{{- "/assets/js/reveal.js" | url -}}"></script>
<script src="{{- "/assets/js/plugin/highlight/highlight.js" | url -}}"></script>
<script src="{{- "/assets/js/plugin/markdown/markdown.js" | url -}}"></script>
<script src="{{- "/assets/js/plugin/notes/notes.js" | url -}}"></script>
<script>
  Reveal.initialize(
    {
      // Plugins.
      plugins: [
        RevealHighlight,
        RevealMarkdown,
        RevealNotes
      ],
      // Config options.
      transition: 'fade',
      transitionSpeed: 'slow',
      autoAnimateDuration: 0.6,
      controlsLayout: 'edges',
      controlsBackArrows: 'visible',
      progress: false,
      showSlideNumber: 'speaker',
      hash: true,
      hashOneBasedIndex: true,
      fragmentInURL: false,
      mouseWheel: true,
      totalTime: (30 * 60)
    }
  );
</script>
