<section>
  <div class="intro bio columns">
    <img src="/dist/images/reedcodes.jpg" />
    <dl>
      <dt><span class="fas fa-fw fa-user-circle" aria-label="Name"></span></dt>
      <dd>Reed Piernock, they/them</dd>
      <dt><span class="fas fa-fw fa-graduation-cap" aria-label="Degree"></span></dt>
      <dd>M.A. candidate in Communication, Culture & Technology</dd>
      <dt><span class="fas fa-fw fa-university" aria-label="School"></span></dt>
      <dd>Georgetown University, Washington DC</dd>
    </dl>
  </div>
</section>
