<script src="/dist/js/reveal/reveal.min.js"></script>
<script src="/dist/js/reveal/notes/notes.js"></script>
<script>
  Reveal.initialize(
    {
      // Plugins.
      plugins: [
        RevealNotes
      ],

      // Config options.
      controlsLayout: 'edges',
      controlsBackArrows: 'visible',
      disableLayout: true,
      progress: false,
      showSlideNumber: 'speaker',
      hash: true,
      hashOneBasedIndex: true,
      fragmentInURL: false,
      mouseWheel: true
    }
  );
</script>
