<section>
  <h1 class="r-fit-text">Thank you!</h1>
</section>

<section>
  <div class="fin bio columns">
    <img src="/dist/images/reedcodes.jpg" />
    <dl>
      <dt><span class="fas fa-fw fa-user-circle" aria-label="Name"></span></dt>
      <dd>Reed Piernock</dd>
      <dt><span class="fas fa-fw fa-envelope" aria-label="Email address"></span></dt>
      <dd><a href="mailto:hello@reedcodes.com">hello@reedcodes.com</a></dd>
      <dt><span class="fas fa-fw fa-chalkboard-teacher" aria-label="List of presentations"></span></dt>
      <dd><a href="https://talks.reedcodes.com/">talks.reedcodes.com</a></dd>
      <dt><span class="fab fa-fw fa-twitter-square" aria-label="Twitter profile"></span></dt>
      <dd><a href="https://twitter.com/reedcodes">@ReedCodes</a></dd>
      <dt><span class="fab fa-fw fa-linkedin" aria-label="LinkedIn profile"></span></dt>
      <dd><a href="https://www.linkedin.com/in/reedcodes/">ReedCodes</a></dd>
    </dl>
  </div>
</section>
