$white: #fff;
$foam: #fffded;
$latte: #fffbeb;
$champagne: #feeeac;
$rust: #b53f04;
$sheen: #6db8b4;
$steel: #5284b6;
$yellow-red: #ffbe3c;
$spanish-orange: #e27330;
$beau-blue: #b1c8d3;
$alice-blue: #f4f9ff;
$cadet-blue: #a8aabc;
$raisin: #252935;
$black: #333;
