$fa-font-path: '/dist/webfonts' !default;
@import 'fontawesome';
@import 'solid';



body {
  display: grid;
  grid-template-columns:
    minmax( 0, 1fr )
    minmax( 320px, 80ch )
    minmax( 0, 1fr );
  margin: 0;
  padding: 0;
  background-color: #FAF0E6;
  color: #000;
  font-size: 20px;
  line-height: 1.6;
  font-family: 'Oxygen', Helvetica, Arial, sans-serif;
}

main {
  grid-column: 2/3;
  height: 100vh;
  padding: 1vh 2vw;
  border-right: 1px solid #DEB887;
  border-left: 1px solid #DEB887;
  background-color: #FFFAFA;
}

dt { font-weight: 600; }

a {
  color: #207986;

  &:hover,
  &:focus {
    color: #9352B7;
  }

  &:focus { outline: 2px solid #A2E0E9; }

  .fas {
    padding-left: 0.5ch;
  }
}
