@use 'color';

@use 'talks-reveal' with (
  $bg: color.$raisin,
  $color: color.$foam,
  $link: color.$beau-blue,
  $controls: color.$beau-blue
);

.reveal {
  background-position: right center;
  background-size: contain;
}



.bg-bingo {
  blockquote, div { width: 50vw; }

  .slide-background-content {
    background-position: right center;
    background-size: contain;
  }
}
