---
css_file: tragedy
title: "#TragedyGirls"
subtitle:  and the Horror of the Spectacle
eleventyNavigation:
  key: "#TradegyGirls"
role: Master of Arts in Communication, Culture & Technology
---

{%- include "./markdown/00-intro.md" -%}
