---
css_file: tragedy
slides_time: 15
title: "#TragedyGirls"
subtitle: and the Horror of the Spectacle
eleventyNavigation:
  key: "#TradegyGirls"
role: Master of Arts in Communication, Culture & Technology
---

{%- include "./markdown/00-intro.md" -%}
{%- include "./markdown/01-debord-spectacle.md" -%}
{%- include "./markdown/02-celebrity.md" -%}
{%- include "./markdown/03-social-media.md" -%}
{%- include "./markdown/04-horror-film.md" -%}
{%- include "./markdown/05-tragedy-girls.md" -%}
{%- include "./markdown/06-together.md" -%}
{%- include "./markdown/07-like.md" -%}
{%- include "./markdown/08-cite.md" -%}
