---
layout: layouts/base.njk
title: The Cooler Superpower of Emily Stanton
subtitle: Subverting the Invisibility of Fat Women in Film through Ben Falcone’s Thunder Force
css_path: thunder-force
scholar: M.A. candidate in Communication, Culture & Technology
university: Georgetown University, Washington DC
hashtag:
  talk: ThunderForcePCA22
  conference: PCAACA22
session_time: 15
---

<section data-markdown="./markdown/draft.md"></section>
