---
layout: layouts/base.njk
title: “Everything You Remember Never Really Happened”
subtitle: Emotional Abuse and Untrusted Experience in Alex Proyas’ Dark City
css_path: dark-city
scholar: M.A. candidate in Communication, Culture & Technology
university: Georgetown University, Washington DC
hashtag:
  talk: DarkCityPCA21
  conference: PCAACA21
session_time: 20
---
