---
layout: layouts/base.njk
title: “Everything You Remember Never Really Happened”
subtitle: Emotional Abuse and Untrusted Experience in Alex Proyas’ Dark City
css_path: dark-city
scholar: M.A. candidate in Communication, Culture & Technology
university: Georgetown University, Washington DC
hashtag:
  talk: DarkCityPCA21
  conference: PCAACA21
session_time: 20
---

<section data-markdown="./markdown/00-content-note.md"></section>
<section data-markdown="./markdown/01-human.md"></section>
<section data-markdown="./markdown/02-noir.md"></section>
<section data-markdown="./markdown/03-murdoch.md"></section>
<section data-markdown="./markdown/04-trauma-intro.md"></section>
<section data-markdown="./markdown/05-emotional-abuse.md"></section>
<section data-markdown="./markdown/06-gaslight.md"></section>
<section data-markdown="./markdown/07-identity.md"></section>
<section data-markdown="./markdown/08-memory.md"></section>
<section data-markdown="./markdown/09-evidence.md"></section>
<section data-markdown="./markdown/10-recovery.md"></section>
